<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Register a AceHaven Account</h3>
      <div class="formGroup">

      <div class="formGroup1">
        <input type="email" class="formControl" placeholder="Email Address" #userEmail required/>
      </div>
      <div class="formGroup1">
        <input type="password" class="formControl" placeholder="Password" #userPwd required/>
      </div>
      <div class="formGroup">
        <button class="loginbutton"  (click)="authService.SignUp(userEmail.value, userPwd.value)">Register</button>
      </div>

    </div>
    <div class="redirectToLogin">
      <span>Already have an account?<button class="loginbutton" routerLink="/login">Log In</button></span>
    </div>
  </div>
</div>
</div>

