 <div class="content">
    <div class="header-class">
      <img src="assets/icons8-name-100.png">
      <h1 class="h2">User Profile</h1>
    </div>
    <!-- Shows user data when logged in -->
    <div class="row" *ngIf="authService.userData as user">
      <div>
        <div>
          <div class="userInformation">
            <h1><strong>Welcome to your AceHaven Account</strong></h1>
            <p>User ID: <strong>{{user.uid}}</strong></p>
            <p>Email: <strong>{{user.email}}</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>

