

header {
  font-family: Bahnschrift, serif;
  background: white;
  text-align: center;
  padding: 2%;
  width: 99%;
  margin-top: 0;

}
header h1, header p{
  margin: 0 10% 0 10%;
  width: auto;
  overflow-x: hidden;
}


