body{
  border-top: 2px solid skyblue;
  border-radius: 10px;
  width:80%;
  height: fit-content;
  position: relative;
  font-family: Bahnschrift, serif;
  margin-top: 5%;
  margin-left: 15%;
}
body h1{
  color: white;
  margin-bottom: 5%;
  margin-top: 0;
  width: fit-content;
  background-color: skyblue;
  margin-left: 33%;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
}

