body{
  width:80%;
  margin: 5% 0 0 10%;
  border-top: 2px solid skyblue;
  border-radius: 10px;
}
h1{
  color: white;
  margin-bottom: 5%;
  margin-top: 0;
  width: fit-content;
  background-color: skyblue;
  margin-left: 33%;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
}

form{
  margin-left: 35%;
  margin-bottom: 2%;
}

.lbl{
  float: left;
}

.inp {
  float: right;
  margin-right: 53%;
}

.inp input{
  height :10px;
}

input[type="submit"]{
  border: 2px solid skyblue;
  background-color: skyblue;
  color: white;
  border-radius: 10px;
  margin-top: 2%;
  margin-left: 10%;
  width: 12%;
  padding: 6px;
}

button {
  margin-top: 2%;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: black;
  background: linear-gradient(0deg, skyblue 0%, deepskyblue 100%);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 15em;
  margin-bottom: 2%;

}

button:hover {
  background: lightblue;
}
