<body>
<h1>ADD YOUR FAVORITE DISC</h1>

<form #f="ngForm" (ngSubmit)="addData(f)">
    <div class="lbl">
      <label for="manufacturer">Manufacturer:</label><br>
      <label for="dname">Model name:</label><br>
      <label for="speed">Speed rating:</label><br>
      <label for="glide">Glide rating:</label><br>
      <label for="turn">Turn rating:</label><br>
      <label for="fade">Fade rating:</label>
  </div>

  <div class="inp">
  <input type="text" id="manufacturer" name="manufacuturer" ngModel><br>
  <input type="text" id="dname" name="discname" ngModel><br>
    <div class="ratings">
  <input type="number" min=1 max=14 id="speed" name="speed" ngModel><br>
  <input type="number" min=1 max=7 id="glide" name="glide" ngModel><br>
  <input type="number" min=-5 max=1 id="turn" name="turn" ngModel><br>
  <input type="number" min=0 max=5 id="fade" name="fade" ngModel><br>
    </div>
  </div>

  <button type="submit"> ADD</button>

</form>
</body>
