<body>
<img src="./assets/lb.jpg">
<h3>Linnea Braun</h3>
<p>Linnea är en talangfull discgolfspelare från Dusseldorf som har en lovande framtid
  som proffs inom sporten. Hon har imponerat på många med sin teknik och sitt
  strategiska tänkande på banan.
<br>
  Linnea har spelat discgolf sedan hon var ung och har alltid varit
  passionerad om sporten. Hon har tillbringat timmar på banan, träning
  och förbättrande sin teknik och precision.
<br>
  Linnea's hängivenhet till sporten har gett henne möjligheten att
  delta i flera tävlingar runt om i Europa, där hon har visat upp
  sin skicklighet och förmåga att hålla huvudet kallt under press.
<br>
  Med sin talang och uthållighet har Linnea potentialen att bli
  en av de mest framgångsrika spelarna inom discgolfvärlden.
  Hon är också en inspirerande figur för unga kvinnor som vill
  bli professionella idrottare och visa att de kan konkurrera
  på samma nivå som männen.
<br>
  Linnea's framtida planer inkluderar att fortsätta att förbättra
  sin teknik och delta i fler tävlingar runt om i världen.
  Hon vill också dela med sig av sin passion för sporten genom
  att hjälpa andra unga spelare att utveckla sina färdigheter.
<br>
  Med sin beslutsamhet och talang har Linnea en ljus framtid
  som en framstående discgolfspelare. Vi ser fram emot att se
  vad framtiden har att erbjuda för denna blivande proffs från Dusseldorf.
</p>
</body>
