<div class="displayTable">
  <h3>Login into Your AceHaven Account: </h3>
    <div class="authBlock">

      <!--Input fields for username/password -->
      <div class="formGroup1">
        <img src="assets/icons8-benutzer-44.png">
        <input type="email" class="formControl" placeholder="Email" #userName required>
      </div>
      <div class="formGroup1">
        <img src="assets/icons8-passwort-1-44.png">
        <input type="password" class="formControl" placeholder="Password" #userPassword required>
      </div>

      <div class="formGroup"  >
        <button class="loginbutton"  (click)="authService.SignIn(userName.value, userPassword.value)">Login</button>
      </div>

    </div>
    <div >
      <span class="formGroup" >Don't have an account?<button id="SignButton" routerLink="/register"> Sign Up</button></span>
    </div>
  </div>
