.displayTable {
  text-align: center;
  border-top: 2px solid skyblue;
  width:80%;
  margin-left: 10%;
  border-radius: 5px;
  margin-top: 2%;
}

.content {
  background-color: white;
  margin: 5% 30%;
  position: center;
}

.forms {
  margin-left: 22%;
  margin-bottom: 5%;
}

h1 {
  color: white;
  background-color: skyblue;
  width: fit-content;
  padding: 0 10px 0 10px;
  margin:5% 0 5% 43.5%;
}

input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
  margin-bottom: 5%;
  height: 20px;
}
