<body>
<img src="./assets/dj.jpg">
<h2>Dorian Jones</h2>
<p>
  Dorian är en imponerande discgolfspelare från Norrköping,
  som har gjort sig känd som en av de främsta proffsen inom sporten.
  Han är känd för sin fantastiska teknik, precision och kraftfulla kast.
  <br>
  Som en av de mest begåvade spelarna i sitt område,
  har Dorian vunnit flera utmärkelser och tävlingar genom åren.
  Han har en imponerande samling av priser och medaljer som bevisar
  hans skicklighet och passion för sporten.
  <br>
  Men det är inte bara Dorian's färdigheter som har gjort honom till
  en sådan framgångsrik spelare. Hans beslutsamhet och dedikation till
  sin träning har också bidragit till hans stora framgångar.
  <br>
  Dorian är en inspirerande figur för många unga spelare som drömmer
  om att följa i hans fotspår. Han visar att det krävs hårt arbete,
  uthållighet och engagemang för att bli en mästare i sin sport.
  <br>
  Trots hans framgångar förblir Dorian ödmjuk och öppen för att lära sig mer.
  Han är alltid beredd att dela med sig av sin kunskap och erfarenhet till
  andra spelare som vill förbättra sina egna färdigheter.
  <br>
  Med sin passion och skicklighet kommer Dorian fortsätta att vara en
  ledande figur inom discgolfvärlden och fortsätta att inspirera nya
  generationer av spelare att följa i hans fotspår.</p>
</body>
