/* You can add global styles to this file, and also import other style files */
html {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

}

body {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Bahnschrift;
}
